* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat';
}

.timer-inp {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 0;
  padding-left: 16px;
  margin-bottom: 32px;
}
.timer-inp:hover {
  border-color: #000;
  transition: 0, 3s ease-in-out;
}
.timer-inp:active {
  border-color: #4e75ff;
}
.timer-inp:disabled {
  background: #fafafa;
  color: #808080;
}
.start-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
  border: none;
}
.start-btn:hover {
  background: #6c8cff;
  transition: 0.3s ease-in-out;
}
.start-btn:disabled {
  background: #cfcfcf;
  color: #989898;
}
.timer {
  display: flex;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}
